# CoverMyMeds Project
### Authors: Shuo Xu

### Abstract

#### Import packages

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from seaborn import set_style
set_style("whitegrid")

#### Import data

In [15]:
bridge = pd.read_csv('./CoverMyMeds_data/bridge.csv')
dim_claims = pd.read_csv('./CoverMyMeds_data/dim_claims.csv')
dim_date = pd.read_csv('./CoverMyMeds_data/dim_date.csv')
dim_pa = pd.read_csv('./CoverMyMeds_data/dim_pa.csv')

In [3]:
bridge.head()

   dim_claim_id  dim_pa_id  dim_date_id
0             1        1.0            1
1             2        NaN            1
2             3        2.0            1
3             4        NaN            1
4             5        NaN            1

In [4]:
bridge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1335576 entries, 0 to 1335575
Data columns (total 3 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   dim_claim_id  1335576 non-null  int64
 1   dim_pa_id     555951 non-null   float64
 2   dim_date_id   1335576 non-null  int64
dtypes: float64(1), int64(2)
memory usage: 30.6 MB

In [5]:
dim_claims.head()

   dim_claim_id     bin drug  reject_code  pharmacy_claim_approved
0             1  417380    A         75.0                        0
1             2  999001    A          NaN                        1
2             3  417740    A         76.0                        0
3             4  999001    A          NaN                        1
4             5  417740    A          NaN                        1

In [6]:
dim_claims.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1335576 entries, 0 to 1335575
Data columns (total 5 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   dim_claim_id             1335576 non-null  int64
 1   bin                      1335576 non-null  int64
 2   drug                     1335576 non-null  object
 3   reject_code              555951 non-null   float64
 4   pharmacy_claim_approved  1335576 non-null  int64
dtypes: float64(1), int64(3), object(1)
memory usage: 50.9+ MB

In [7]:
dim_pa.head()

,dim_pa_id,correct_diagnosis,tried_and_failed,contraindication,pa_approved
0,1,1,1,0,1
1,2,1,0,0,1
2,3,0,0,1,1
3,4,1,1,0,1
4,5,0,1,0,1

In [8]:
dim_pa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555951 entries, 0 to 555950
Data columns (total 5 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   dim_pa_id          555951 non-null  int64
 1   correct_diagnosis  555951 non-null  int64
 2   tried_and_failed   555951 non-null  int64
 3   contraindication   555951 non-null  int64
 4   pa_approved        555951 non-null  int64
dtypes: int64(5)
memory usage: 21.2 MB

In [9]:
dim_date.head()

,dim_date_id,date_val,calendar_year,calendar_month,calendar_day,day_of_week,is_weekday,is_workday,is_holiday
0,1,2017-01-01,2017,1,1,1,0,0,1
1,2,2017-01-02,2017,1,2,2,1,0,0
2,3,2017-01-03,2017,1,3,3,1,1,0
3,4,2017-01-04,2017,1,4,4,1,1,0
4,5,2017-01-05,2017,1,5,5,1,1,0

In [10]:
dim_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1520 entries, 0 to 1519
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   dim_date_id     1520 non-null   int64
 1   date_val        1520 non-null   object
 2   calendar_year   1520 non-null   int64
 3   calendar_month  1520 non-null   int64
 4   calendar_day    1520 non-null   int64
 5   day_of_week     1520 non-null   int64
 6   is_weekday      1520 non-null   int64
 7   is_workday      1520 non-null   int64
 8   is_holiday      1520 non-null   int64
dtypes: int64(8), object(1)
memory usage: 107.0+ KB

In [11]:
dim_claims.bin.value_counts()

999001    640740
417614    307323
417740    213982
417380    173531
Name: bin, dtype: int64

In [12]:
dim_claims.drug.value_counts()

A    679283
B    342750
C    313543
Name: drug, dtype: int64

In [13]:
dim_claims.reject_code.value_counts()

70.0    252206
75.0    217351
76.0     86394
Name: reject_code, dtype: int64